[submodule "Exploratory Data Analysis/Semana 1/Exploratory Data Analysis/Semana 1"]
	path = Exploratory Data Analysis/Semana 1/Exploratory Data Analysis/Semana 1
	url = https://github.com/rdpeng/ExData_Plotting1.git
